* {
    box-sizing: border-box;
  }
  
  body {
    /* Dirt and grass block theme */
    background: linear-gradient(to top, #966c4a 0%, #966c4a 85%, #76b852 85%, #76b852 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    text-shadow: 2px 2px #373737;
  }
  
  .container, .auth-container {
    margin: 30px auto;
    width: 420px;
  }
  
  h1, h2, h3 {
    letter-spacing: 1px;
    margin: 15px 0;
    text-align: center;
  }
  
  h3 {
      padding-bottom: 10px;
  }
  
  .mc-panel {
    background-color: #D2B48C; /* Tan / Wood Plank color */
    border: 4px solid;
    border-color: #A0522D #E6D8B8 #E6D8B8 #A0522D; /* 3D effect for wood */
    padding: 15px;
    margin-bottom: 20px;
    image-rendering: pixelated;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 8px;
    color: #373737;
    text-shadow: none;
  }
  
  .form-control input {
    border: 3px solid;
    border-color: #8B4513 #F5DEB3 #F5DEB3 #8B4513;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: #FFF;
  }
  
  .btn {
    cursor: pointer;
    background-color: #76b852; /* Grass Green */
    color: #FFF;
    text-shadow: 2px 2px #2E8B57;
    border: 4px solid;
    border-color: #98FB98 #556B2F #556B2F #98FB98;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    border-color: #556B2F #98FB98 #98FB98 #556B2F;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
      background-color: #D2B48C;
      color: #373737;
      text-shadow: none;
      font-size: 12px;
  }
  
  th, td {
      border: 3px solid #A0522D;
      padding: 10px;
      text-align: left;
  }
  
  th {
      background-color: #B99373;
  }
  
  .income {
      color: #006400; /* Dark Green */
      font-weight: bold;
  }
  
  .expense {
      color: #B22222; /* Firebrick red */
      font-weight: bold;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .btn-logout {
      width: auto;
      padding: 10px 15px;
      margin: 0;
      font-size: 12px;
  }
  
  #toggle-auth {
      font-size: 12px;
      text-align: center;
      color: #373737;
      text-shadow: none;
  }
  #toggle-auth a {
      color: #0000CD;
      text-decoration: none;
  }
  #toggle-auth a:hover {
      text-decoration: underline;
  }
  